<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CEODOIS</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>

  <!-- Cabeçalho com navegação -->
  <header>
    <div class="logo-title">
        <img src="/static/img/img-site/logo.png" alt="logo">
        <h1><a href="/">CEODOIS</a></h1>
    </div>
    <nav>
      <ul>
        <li><a href="/">PROJETO</a></li>
        <li><a href="/calculadora">CALCULADORA</a></li>
        <li><a href="/monitorar">MONITORAR</a></li>
      </ul>
    </nav>
  </header>

  <!-- Seção Missão -->
  <section id="mission">
    <div class="text">
      <div class="titulo">
          <h1>NOSSA MISSÃO</h1>
      </div>
      <h2>MISSÃO 01</h2>
      <p>Nossa primeira missão é promover a conscientização ambiental. Acreditamos que a educação é a chave para a mudança. Ao informar as pessoas sobre o impacto de suas ações no meio ambiente, esperamos inspirar uma maior responsabilidade e cuidado com o nosso planeta. Queremos que todos entendam a importância de reduzir as emissões de dióxido de carbono e adotem práticas mais sustentáveis em suas vidas diárias.</p>
      <h2>MISSÃO 02</h2>
      <p>Incentivar ações sustentáveis através da tecnologia. Utilizamos ferramentas tecnológicas avançadas para fornecer dados precisos e acessíveis sobre as emissões de CO₂ e focos de queimadas. Através da nossa plataforma, os usuários podem calcular suas emissões e tomar medidas concretas para reduzi-las. Acreditamos que a tecnologia pode ser uma poderosa aliada na luta contra as mudanças climáticas e na promoção de um futuro mais verde.</p>
    </div>
    <div class="image">
      <img src="/static/img/img-site/florest.jpg" alt="Mission Image">
    </div>
  </section>

  <!-- Seção Projeto -->
  <section id="project">
    <div class="text">
      <div class="titulo">
          <h1>NOSSOS PROJETOS</h1>
      </div>
      <h2>CALCULADORA DE CO₂</h2>
      <p>O projeto CEODOIS foi criado com o propósito de ajudar as pessoas a entenderem e reduzirem suas emissões de dióxido de carbono. Desenvolvemos uma calculadora de emissões que permite aos usuários estimar a quantidade de CO₂ gerada por suas atividades diárias. A calculadora leva em consideração diversos fatores, como consumo de energia, transporte e hábitos de consumo, fornecendo uma estimativa precisa das emissões individuais.</p>
      <a href="/calculadora" class="btn">Calcular</a> 
      <h2>MONITORAMENTO DE QUEIMADAS</h2>
      <p>Além disso, oferecemos uma ferramenta de monitoramento de queimadas, que utiliza dados de satélites da <strong>NASA</strong> para fornecer informações atualizadas sobre focos de incêndio e a qualidade do ar em diferentes regiões. Nosso sistema de monitoramento permite que os usuários visualizem em tempo real os focos de incêndio, ajudando na gestão de recursos naturais e na resposta rápida a emergências. Com essa ferramenta, esperamos contribuir para a preservação do meio ambiente e a proteção das comunidades afetadas.</p>
      <a href="/monitorar" class="btn">Monitorar</a> 
    </div>
    <div class="image">
      <img src="/static/img/img-site/queimada.jpg" alt="img queimada">
    </div>
  </section>

  <!-- Seção Sobre Nós -->
  <section id="about">
    <div class="text">
      <div class="titulo">
          <h1>NÓS</h1>
      </div>
      <p>Nosso projeto surgiu após nós, que residimos em Porto Velho, Rondônia, testemunharmos os efeitos devastadores das queimadas excessivas na região. Em 2024, Porto Velho registrou uma das piores qualidades do ar do país e do mundo, devido ao aumento significativo das queimadas. Motivados por essa situação alarmante, decidimos criar a carbonTrack com o objetivo de amenizar o problema e promover a conscientização ambiental.</p>
      <a href="https://www.instagram.com/ceodois/" class="btn">Contato</a> 
    </div>
    <div class="image">
      <img src="/static/img/img-site/planta_nos.jpg" alt="About Us Image">
    </div>
  </section>

  <!-- Seção Nosso Time -->
  <section id="team">
    <h1>NOSSO TIME</h1>
    <div class="team-members">
      <div class="member">
        <img src="/static/img/img-time/marcus.png" alt="Team Member">
        <h2>Marcus Tomazelli</h2>
        <p>Fundador e Desenvolvedor</p>
        <a href="https://www.linkedin.com/in/marcus-tomazelli/" class="btn">Contato</a>
      </div>
    </div>
  </section>

  <!-- Seção Agradecimentos -->
  <section id="thanks">
    <h1>OBRIGADO.</h1>
  </section>
</body>
</html>
